/*
*= require index
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";

html {
  position: relative;
  min-height: 100%;
}

body{
  line-height: 1.7;
  margin:0;
  padding:0;
  height:100%;
}
.body{
  margin-bottom: 400px;
}

.footer{
  background-image: image-url("footer.jpg");
  box-shadow: -4px -2px 5px #C5C4C4;
  background-size: cover;
  background-position: bottom right;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 400px;
  background-color: #f5f5f5;

  a{
    color:#009633;
  }
}

.main-container {
  min-height:100%;
  height:100%;
  position:relative;
}

a{
  color: #3A3A3A;
}

h1{
  margin-bottom: 1em;
}

h3{
  margin-bottom: 2em;
}

h2{
  font-size: 75px;
  text-align: center;
  margin-bottom: 20px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

ul.nav a:hover {
  background-color: inherit;
  color: inherit;
}

.logged{
  color: #009633;
}

.icon-info {
  width: 100px;
  padding: 0.1em;
}
hr{
  margin-bottom: 30px;
}

.navbar-top{
  background-image: linear-gradient(to bottom, white 0%, #fCfCfC 100%);
  border-top: #009633 3px solid;
  box-shadow: 1px 1px 3px #888888;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo{
  margin-left: 3em;
  padding: 0.5em;
  width: 169px;
}

.cart{
  background-color: #009633;
  color: white;
}

.navbar-right{
  margin-right: 30px;
}

.vcenter{
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.price{
  font-size: 25px;
  background-color: #009633;
}

.index-img{
  margin-bottom: 1.5em;
}

.expand{
  padding-top: 2em;
  padding-bottom: 5em;
}

.video-tutorial{
  margin: 1%;
}

.row{
  &.item-row, &.panel-row{
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    > .panel{
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  &.item-row{
    padding-top: 156px;
    padding-bottom: 156px;
  }

  &.panel-row{
    padding-top: 86px;
    padding-bottom: 85px;
  }
}
