#index{
  h1,h2,h3,h4,h5{
    font-family: "Nexa Bold", Verdana, Tahoma;
  }
  .description{
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .header-item{
    padding-top: 10px;
    color: #e4e4e4;
    text-align: center;
    h1{
      text-shadow: 1px 2px rgba(81, 100, 66, 0.22);
      font-size: 60px;
      font-family: "Nexa bold";
    }
    h2{
      color: #e4e4e4;
      text-shadow: 1px 1px #3a3838;
      font-size: 25px;
      letter-spacing: 3px;
      font-family: "Nexa light";
      padding: 0px 203px;
    }
    .header-body{
      padding: 80px;
      padding-top: 40px;
      .discover-call-to-action{
        .glyphicon{
          font-size: 60px;
        }
        .or{
          margin-top: 10px;
          margin-bottom: 10px;
        }
        margin-top: 20px;
        letter-spacing: 7px;
        font-size: 18px;
      }
    }
  }

  .image{
    margin-left: 3em;
    margin-right: 6em;
    margin-top: 2em;
    margin-bottom: 3em;
  }
  .panel{
    min-width: 814px;
  }
  .shape-container{
    .item-text-wrapper{
      position: absolute;
      left: 50%;
      height: 100%;
    }
  }

  .blue-item{
    background-color: #28ABE3;
    color: #146283;

    .panel{
      background-color: #F7FCFD;

      .item-text-wrapper {
        &:before {
          content: "";
          position: absolute;
          left: -26px;
          top: 4%;
          height: 92%;
          border-left: 4px solid #146283;
        }
      }
    }
  }

  .red-item{
    background-color: #C91B26;
    color: #852229;

    .panel{
      background-color: #FFF8F8;

      .item-text-wrapper {
        &:before {
          content: "";
          position: absolute;
          left: -26px;
          top: 4%;
          height: 92%;
          border-left: 4px solid #831414;
        }
      }
    }
  }

  .yellow-item{
    background-color: #E8B71A;
    color: #C79C14;


    .panel{
      background-color: #FFFFF8;

      .item-text-wrapper {
        &:before {
          content: "";
          position: absolute;
          left: -26px;
          top: 4%;
          height: 92%;
          border-left: 4px solid #C79C14;
        }
      }
    }
  }

  .instructions-item{
    background-color: white;
    padding-top: 10px;
    color: #6d6d6d;
    text-align: justify;
    font-size: 16px;
    .row{
      margin-bottom: 25px;
    }
    .content-body{
      padding: 80px;
      padding-top: 65px;
      padding-bottom: 40px;
    }
  }
  .purple-item{
    background-color: #6E9ECF;
    color: #4B6B8B;

    .panel{
      background-color: #F7FBFF;

      .item-text-wrapper {
        &:before {
          content: "";
          position: absolute;
          left: -26px;
          top: 4%;
          height: 92%;
          border-left: 4px solid #4B6B8B;
        }
      }
    }
  }

  .pink-item{
    background-color: #FB6648;
    color: #A94430;

    .panel{
      background-color: #FFF8F8;

      .item-text-wrapper {
        &:before {
          content: "";
          position: absolute;
          left: -26px;
          top: 4%;
          height: 92%;
          border-left: 4px solid #A94430;
        }
      }
    }
  }

  .header-item {
    background: url("header.jpg");
    background-size: cover;
    background-position: 50% 100%;
    .panel{
      background: none;
      box-shadow: none;
    }
  }

  .sky-item{
    background-color: #8FE7F5;
    color: #415C6D;

    h3{
      text-align: center;
    }

    .panel{
      background-color: #f0f9fb;

      .item-text-wrapper {
        &:before {
          content: "";
          position: absolute;
          left: -26px;
          top: 4%;
          height: 92%;
          border-left: 4px solid #415C6D;
        }
      }
    }
  }
  .row{
    &.inside-row{
      padding: 0;
    }
  }

  .shape-container, .purchase-container{
    min-height: 650px;
    min-width: 900px;
  }

  .purchase-container{
    font-weight: 500;
    .inside-row{
      margin-bottom: 35px;
    }
    .panel-item{
      min-height: 544px;
    }
    .item-row{
      padding-top: 79px;
    }
    .image-wrapper{
      margin-top: 15px;
      margin-bottom: 25px;
      padding-right: 40px;
    }

    .purchase-image{
      margin-left: auto;
      margin-right: auto;
      max-height: 385px;
    }
  }

  .panel-item{
    box-shadow: 9px 28px 90px 0px rgba(0,0,0,0.60);
  }
}

.navbar-top-index{
  background-image: linear-gradient(to bottom, white 0%, #fCfCfC 100%);
  box-shadow: 1px 1px 3px #888888;
  position: fixed;
  width: 100%;
  z-index: 2;
  border-radius: 0px
}

.body-index{
  padding-top: 60px;
  margin-bottom: 400px;
  background-color: #28ABE3;
  font-family: "Nexa Light", Verdana, Tahoma;
}

