title Cologami
= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
= javascript_include_tag "application", "data-turbolinks-track" => true
= csrf_meta_tags

meta property="og:url"                content="www.cologami.com"
meta property="og:type"               content="website"
meta property="og:title"              content="Cologami: El origami a todo color"
meta property="og:description"        content="Plantillas diseñadas para montar figuras de papel con vida propia"
= content_tag :meta, "", content: image_url("header.jpg"), property: "og:image"
